<div class="control-group">
  <%= f.label :name, 'שם ההוצאה'%>
  <div class="controls">
    <%= f.text_field :name, class: "input-block-level"%>
  </div>
</div>

<%= f.fields_for :param_datas do |pd| %>
  <%= render partial: 'outcome_categories/param_data_fields' , locals: {f: pd}%>
<% end %>
<%= link_to_add_fields "הוסף הוצאה", f, :param_datas %>

<%#= f.hidden_field :_destroy %>
<%= link_to "remove", '#', class: "remove_fields" %>
<hr />