<%= content_for :page_title do %>מילות מפתח<% end %>
<%= content_for :submenu do %>
  <%= link_to "הוספת מילת מפתח חדשה", new_user_account_keyword_path(current_user) , class: 'btn', style: 'margin: 10px 0 20px;'%>
<% end %>

<div class="row" style="direction: rtl;">
  <p>
    ברצוני לקבל עדכונים במייל כל: <input type="checkbox" checked="checked"> 24 שעות <input type="checkbox" checked="checked"> שבוע <input type="checkbox" checked="checked"> שבועיים <input type="checkbox" checked="checked"> חודש
  </p>
</div>

<h5>בחר את מילות המפתח שמעניינות אותך ואת בני משפחתך:</h5>
<div class="row" style="direction: rtl;">
  <% @keywords.each do |keyword| %>
    <div class="span3" style="float: right">
        <p class="well">
          <input class="keyword_check" type="checkbox" name="keyword_id" value="<%= keyword.id %>" style="margin: 2px 0" <%= "checked='checked'" if keyword.active? %> />
          <%= keyword.name %>
          <%= link_to "<i class='icon-trash'></i>".html_safe, user_account_keyword_path(current_user, keyword), method: "DELETE", confirm: 'האם אתה בטוח כי ברצונך למחוק מילה זו ?', style: 'float: left;'%>
        </p>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('.keyword_check').on('click', function(){
    $.get("/users/<%= current_user.id %>/account/keywords/check", { id: $(this).val(), checked: $(this).is(":checked")}
      )
  })
</script>