<%= content_for :submenu do %>
  <% link_to 'קטגוריה חדשה', new_user_account_outcome_outcome_category_path(current_user), class: 'btn' %>
<% end %>
<%= content_for :page_title do %>
  הוצאות משפחתיות
<% end %>

<div class="row">
  <div class="row" style="margin: 10px 0;">
    <p>
    <span class="label label-info">הטיפ היומי:</span>
      <% data = [ "חסכמים. אם אין לכם עדיין חסכמים בכל הברזים, צאו מיד לחנות כלי בית/ כלי עבודה באזור שלכם והתקינו חסכמים. זוהי המצאה גאונית שמפחיתה את כמות המים שיוצאת מהברז ועוזרת לנו לחסוך במים בכל פעם שאנו שוטפים ידיים/ כלים או מצחצחים שיניים.",
      "ידית חסכון להדחת האסלה. גם כאן מדובר במוצר שחייב להיות כבר בכל בית בישראל. עכשיו שחשבון המים התייקר במידה רבה יש משמעות גדולה להדחה של חצי מיכל בהשוואה למיכל מלא – אז אם אין לכם עדיין, צאו לקנות גם את זה. ",
      "מקלחת קצרה. זה בטח נשמע לחלק מכם כמו משימה בלתי אפשרית, אבל אם כל אחד מאיתנו יתקלח רק דקה או שתיים פחות, מדובר בחסכון עצום של מים. להורים מביניכם, נסו להיות דוגמא אישית עבור ילדיכם והתקלחו בזריזות. כי אין דבר יותר חשוב מהחינוך של הדור הבא לשמירה על משאבי הסביבה",
      "כביסה. הפעילו את מכונת הכביסה רק כאשר היא מלאה ונסו להשתמש בתוכנית החסכונית כמה שיותר. כדור הכביסה האקולוגי הוא דרך נוספת לחסוך במשאבים נוספים ולדאוג לסביבה ירוקה. " ] -%>
      <%= data[rand(0..3)] %>
    </p>
  </div>
  <% @outcome.outcome_categories.each do |oc| %>
    <div class="span6">
      <table class="table table-striped table-condensed">
        <thead>
          <tr style="border: 2px solid lightgoldenrodyellow">
            <th colspan="4">
              <%= oc.name %>
            </th>
          </tr>
          <tr>
            <th>קטגוריה</th>
            <th>הוצאה משוערת</th>
            <th>הוצאה לחודש זה</th>
            <th>דו"ח מצב</th>
          </tr>
        </thead>
        <tbody>
          <% oc.params.each do |param| %>
            <tr>
              <td><%= link_to param.name, edit_user_account_outcome_outcome_category_param_path(current_user, oc, param) %></td>
              <td><%= param.avg_cost %></td>
              <td><%= param.param_datas.where("month = ?", Date.today.month).first.amount rescue '' %></td>
              <td><%= link_to "דו\"ח", report_user_account_outcome_outcome_category_param_path(current_user, param.outcome_category, param) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
