<%= content_for :submenu do %>
<h1>חברי המשפחה</h1>
<% end %>

<%= content_for :submenu do %>
<%= link_to "הוספת משתמש חדש", new_user_account_member_path(current_user) , class: 'btn', style: 'float: right; margin: 10px 0 20px '%>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>שם מלא</th>
      <th>תעסוקה</th>
      <th>תאריך לידה</th>
      <th>מין</th>
      <th>הכנסה ממוצעת</th>
      <th>מחיקה</th>
      <th>עריכה</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.id %></td>
        <td><%= member.name %></td>
        <td><%= member.profession %></td>
        <td><%= member.date_of_birth.strftime('%B %e, %Y') if member.date_of_birth %></td>
        <td><%= member.gender %></td>
        <td><%= member.avg_income %></td>
        <td><%= link_to "<i class='icon-remove'></i>".html_safe, user_account_member_path(current_user,member, method: "delete"), confirm: 'האם אתה בטוח שברצונך למחוק?' %></td>
        <td><%= link_to "<i class='icon-edit'></i>".html_safe, edit_user_account_member_path(current_user,member) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :actions do %>
<div class="actions-area">

</div>
<% end %>